.c-flex{
    display: flex;
    justify-content: space-between;
    @for $flex from 2 through 10 {
        &--column0#{$flex}{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            &__li{
                width:calc((100% - (24px * (#{$flex} - 1))) / #{$flex});
                margin-bottom: 24px;
            }
            &:after {
                content: '';
                display: block;
                width:calc((100% - (24px * (#{$flex} - 1))) / #{$flex});
            }
        }
    }
}