.l-footer{
    &__cv{
        padding: 120px 0;
        background: $main;
        text-align: center;
        &__btn a{
            font-size: 2.0rem;
            padding: 32px 48px;
            border: solid 1px $white;
            color: $white;
        }
    }
    &__nav{
        padding: 32px 0;
        max-width: 1366px;
        margin: 0 auto;
        text-align: center;
        ul li{
            margin-right: 32px;
            &:last-of-type{
                margin-right: 0;
            }
            a{
                font-size: 1.4rem;
            }
        }
        small{
            font-size: 1.2rem;
        }
    }
}